.button--link {
  background: none;
  font-weight: 600 !important;
}

.button--small {
  font-size: 0.8rem !important;
}

.link {
  text-decoration: none !important;
  width: max-content;
}

.button--export {
  margin-left: $m-size !important;
  background-color: lighten(rgb(2, 51, 2), 20%) !important;
  color: $off-white !important;
}
