.header {
  position: relative;
  margin-bottom: 12px;
}

.header__container {
  width: 80%;
  margin: auto;
  padding: 0px !important;
}

.header__link {
  text-decoration: none;
  color: $off-white;
  margin-left: 40px;
  font-size: $font-size-medium;
}

.header__search {
  position: relative;
  margin-left: 20%;
}

.header__search-text {
  margin-left: $m-size;
  color: $off-white !important;
}

.search-icon {
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}