.table, .table__pagination {
  min-width: 700px;
  max-width: 80%;
  margin: auto;
}

.table-container {
  max-height: 80vh !important;
}

.table__cell {
  font-size: $font-size-small;
}

.table__header {
  font-size: $font-size-small !important;
}
