.table-container, .table__pagination {
  max-width: 80%;
  margin: auto;
}

.table {
  min-width: 700px;
}

.table__cell {
  min-width: 60px;
  max-width: 100px;
  font-size: $font-size-small;
  line-height: 31px !important;
}

.table__header {
  font-size: $font-size-small !important;
}
