.table-container, .table__pagination {
  max-width: 80%;
  margin: auto;
}

.table {
  min-width: 700px;
}

.table__cell {
  font-size: $font-size-small;
}

.table__header {
  font-size: $font-size-small !important;
}
